<div class="section" id="references">
  <div class="container">
    <div class="col-sm-12">
      <div class="mb20">
        <h2 class="title" data-animate="fadeInUp">My work</h2>
        <p class="lead" data-animate="fadeInUp">I have some of my projects in github, as well as in the google play store,
          here are the links.</p>
      </div>

      <ul id="filter" data-animate="fadeInUp">
        <li class="active"><a href="#" data-filter="all">All</a>
        </li>
        <li><a href="#" data-filter="mobile">Mobile</a>
        </li>
        <li><a href="#" data-filter="web">Web</a>
        </li>
        <li><a href="#" data-filter="other">Other</a>
        </li>
      </ul>
      <div id="detail">

        <span class="close">&times;</span>

        <div id="detail-slider"></div>

        <div class="text-center">
          <h1 id="detail-title">&nbsp;</h1>
        </div>
        <div id="detail-content"></div>
      </div>
      <!-- Reference detail -->
      <div id="references-masonry" data-animate="fadeInUp">
        <div class="reference-item" data-category="mobile">
          <div class="reference">
            <a href="#">
              <img src="img/PhotoInspiration1.jpg" class="img-responsive" alt="" />

              <div class="overlay">
                <h3 class="reference-title">Photo Inspiration</h3>
                <p>Shows best photos in Flickr</p>
              </div>
            </a>

            <div class="sr-only reference-description" data-images="img/pi_1.png,img/pi_2.png,img/pi_3.png">

              <p>This is a mobile app that shows the best photos in Flickr. Search
                photos by day, analyze the settings the photo was taken, such as
                the aperture, the shutter speed, the focal length, the camera model,
                the lens, among others.
                <br /> No logging to Flickr required! Just open the app and you have the
                best photos, every day.
              </p>

              <p>This project was developed with Angular2, Ionic2 and the Flickr API.</p>

              <p class="buttons">
                <a class="btn btn-primary" href="https://github.com/xap5xap/photoInspiration-mobile"
                    target="_blank"><i class="fa fa-github"></i> Visit GitHub code</a>
                <a href='https://play.google.com/store/apps/details?id=com.thexap.photoinspirationmobile&utm_source=global_co&utm_medium=prtnr&utm_content=Mar2515&utm_campaign=PartBadge&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'>
                  <img alt='Get it on Google Play' style="width:25%;" src='https://play.google.com/intl/en_us/badges/images/generic/en_badge_web_generic.png'
                  /></a>
              </p>
            </div>
          </div>
        </div>
        <div class="reference-item" data-category="web">
          <div class="reference">
            <a href="#">
              <img src="img/xp.jpg" class="img-responsive" alt="" />

              <div class="overlay">
                <h3 class="reference-title">thexap portfolio</h3>
                <p>My web app</p>
              </div>
            </a>

            <div class="sr-only reference-description" data-images="img/xp_1.jpg,img/xp_2.jpg,img/xp_3.jpg">

              <p>This project is basically this site. It is built with angular2, bootstrap,
                jquery, among other useful libraries. I downloaded the template
                from <a href="http://bootstrapious.com/free-templates"> here </a>.
                It is a free bootstrap template that uses jquery, but I redesigned
                the architecture in order to use angular2 component and services.</p>

              <p class="buttons">
                <a class="btn btn-primary" href="https://github.com/xap5xap/xap5xap-portfolio" target="_blank"><i class="fa fa-github"></i> Visit GitHub code</a>
              </p>

            </div>
          </div>
        </div>
        <div class="reference-item" data-category="other">
          <div class="reference">
            <a href="#">
              <img src="img/gh.jpg" class="img-responsive" alt="" />

              <div class="overlay">
                <h3 class="reference-title">Other projects</h3>
                <p>Open source projects</p>
              </div>
            </a>

            <div class="sr-only reference-description" data-images="img/gh_1.jpg">

              <p>Many projects that shows the use of Angular2, Ionic2, Firebase, among
                others. Concise proof of concepts projects.</p>

              <p class="buttons">
                <a class="btn btn-primary" href="https://github.com/xap5xap/" target="_blank"><i class="fa fa-github"></i> Visit GitHub</a>
              </p>
            </div>
          </div>
        </div>

      </div>
      <!-- /#references-masonry -->

    </div>
    <!-- /.12 -->
  </div>
  <!-- /.container -->
</div>
