<div class="section" id="references">
  <div class="container">
    <div class="col-sm-12">
      <div class="mb20">
        <h2 class="title" data-animate="fadeInUp">My work</h2>
        <p class="lead" data-animate="fadeInUp">I have some of my projects in github, as well as in the google play store,
          here are the links.</p>
      </div>

      <ul id="filter" data-animate="fadeInUp">
        <li class="active"><a href="#" data-filter="all">All</a>
        </li>
        <li><a href="#" data-filter="web">Mobile</a>
        </li>
        <li><a href="#" data-filter="web">Web</a>
        </li>
        <li><a href="#" data-filter="other">Other</a>
        </li>
      </ul>
      <div id="detail">

        <span class="close">&times;</span>

        <div id="detail-slider"></div>

        <div class="text-center">
          <h1 id="detail-title">&nbsp;</h1>
        </div>
        <div id="detail-content"></div>
      </div>
      <!-- Reference detail -->
      <div id="references-masonry" data-animate="fadeInUp">
        <div class="reference-item" data-category="mobile">
          <div class="reference">
            <a href="#">
              <img src="img/PhotoInspiration1.jpg" class="img-responsive" alt="" />

              <div class="overlay">
                <h3 class="reference-title">Photo Inspiration</h3>
                <p>Shows best photos in Flickr</p>
              </div>
            </a>

            <div class="sr-only reference-description" data-images="img/main-slider1.jpg,img/main-slider2.jpg,img/main-slider3.jpg">

              <p>This is a mobile app that shows the best photos in Flickr. Search
                photos by day, analyze the settings the photo was taken, such as
                the aperture, the shutter speed, the focal length, the camera model,
                the lens, among others.
                <br /> No logging to Flickr required! Just open the app and you have the
                best photos, every day.
              </p>

              <p>This project was developed with Angular2, Ionic2 and the Flickr API.</p>

              <p class="buttons">
                <a class="btn btn-primary" href="javascript:void(0);"><i class="fa fa-github"></i> Visit GitHub code</a>
                <a class="btn btn-primary" href="javascript:void(0);"><i class="fa fa-download"></i> Download case study</a>
                <a href='https://play.google.com/store/apps/details?id=com.thexap.photoinspirationmobile&utm_source=global_co&utm_medium=prtnr&utm_content=Mar2515&utm_campaign=PartBadge&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'><img alt='Get it on Google Play' src='https://play.google.com/intl/en_us/badges/images/generic/en_badge_web_generic.png'
                  /></a>
              </p>
            </div>
          </div>
        </div>
        <div class="reference-item" data-category="web">
          <div class="reference">
            <a href="#">
              <img src="img/portfolio-5.jpg" class="img-responsive" alt="" />

              <div class="overlay">
                <h3 class="reference-title">Project name</h3>
                <p>Short project description goes here...</p>
              </div>
            </a>

            <div class="sr-only reference-description" data-images="img/main-slider1.jpg,img/main-slider2.jpg,img/main-slider3.jpg">

              <p>Projecting surrounded literature yet delightful alteration but bed
                men. Open are from long why cold. If must snug by upon sang loud
                left. As me do preference entreaties compliment motionless ye literature.
                Day behaviour explained law remainder. Produce can cousins account
                you pasture. Peculiar delicate an pleasant provided do perceive.</p>

              <p>Sitting mistake towards his few country ask. You delighted two rapturous
                six depending objection happiness something the. Off nay impossible
                dispatched partiality unaffected. Norland adapted put ham cordial.
                Ladies talked may shy basket narrow see. Him she distrusts questions
                sportsmen. Tolerably pretended neglected on my earnestly by. Sex
                scale sir style truth ought.</p>

              <p class="buttons">
                <a class="btn btn-primary" href="javascript:void(0);"><i class="fa fa-globe"></i> Visit website</a>
                <a class="btn btn-primary" href="javascript:void(0);"><i class="fa fa-download"></i> Download case study</a>
              </p>

            </div>
          </div>
        </div>
        <div class="reference-item" data-category="other">
          <div class="reference">
            <a href="#">
              <img src="img/portfolio-8.jpg" class="img-responsive" alt="" />

              <div class="overlay">
                <h3 class="reference-title">Project name</h3>
                <p>Short project description goes here...</p>
              </div>
            </a>

            <div class="sr-only reference-description" data-images="img/main-slider1.jpg,img/main-slider2.jpg,img/main-slider3.jpg">

              <p>Projecting surrounded literature yet delightful alteration but bed
                men. Open are from long why cold. If must snug by upon sang loud
                left. As me do preference entreaties compliment motionless ye literature.
                Day behaviour explained law remainder. Produce can cousins account
                you pasture. Peculiar delicate an pleasant provided do perceive.</p>

              <p>Sitting mistake towards his few country ask. You delighted two rapturous
                six depending objection happiness something the. Off nay impossible
                dispatched partiality unaffected. Norland adapted put ham cordial.
                Ladies talked may shy basket narrow see. Him she distrusts questions
                sportsmen. Tolerably pretended neglected on my earnestly by. Sex
                scale sir style truth ought.</p>

              <p class="buttons">
                <a class="btn btn-primary" href="javascript:void(0);"><i class="fa fa-globe"></i> Visit website</a>
                <a class="btn btn-primary" href="javascript:void(0);"><i class="fa fa-download"></i> Download case study</a>
              </p>
            </div>
          </div>
        </div>

      </div>
      <!-- /#references-masonry -->

    </div>
    <!-- /.12 -->
  </div>
  <!-- /.container -->
</div>
