<div class="section" id="references">
    <div class="container">
        <div class="col-sm-12">

            <div class="mb20">
                <h2 class="title" data-animate="fadeInUp">My work</h2>

                <p class="lead" data-animate="fadeInUp">I have worked on dozens of projects so I have picked only the latest for you.</p>
            </div>

            <ul id="filter" data-animate="fadeInUp">
                <li class="active"><a href="#" data-filter="all">All</a>
                </li>
                <li><a href="#" data-filter="webdesign">Webdesign</a>
                </li>
                <li><a href="#" data-filter="seo">SEO</a>
                </li>
                <li><a href="#" data-filter="marketing">Marketing</a>
                </li>
                <li><a href="#" data-filter="other">Other</a>
                </li>
            </ul>

            <div id="detail">

                <span class="close">&times;</span>

                <div id="detail-slider"></div>

                <div class="text-center">
                    <h1 id="detail-title">&nbsp;</h1>
                </div>

                <div id="detail-content"></div>

            </div>
            <!-- Reference detail -->

            <div id="references-masonry" data-animate="fadeInUp">

                <div class="reference-item" data-category="webdesign">
                    <div class="reference">
                        <a href="#">
                            <img src="img/portfolio-1.jpg" class="img-responsive" alt="" />

                            <div class="overlay">
                                <h3 class="reference-title">Project name</h3>
                                <p>Short project description goes here...</p>
                            </div>
                        </a>

                        <div class="sr-only reference-description" data-images="img/main-slider1.jpg,img/main-slider2.jpg,img/main-slider3.jpg">

                            <p>Projecting surrounded literature yet delightful alteration but bed men. Open are from long why cold. If must snug by upon sang loud left. As me do preference entreaties compliment motionless ye literature. Day behaviour
                                explained law remainder. Produce can cousins account you pasture. Peculiar delicate an pleasant provided do perceive.</p>

                            <p>Sitting mistake towards his few country ask. You delighted two rapturous six depending objection happiness something the. Off nay impossible dispatched partiality unaffected. Norland adapted put ham cordial. Ladies
                                talked may shy basket narrow see. Him she distrusts questions sportsmen. Tolerably pretended neglected on my earnestly by. Sex scale sir style truth ought.</p>

                            <p class="buttons">
                                <a class="btn btn-primary" href="javascript:void(0);"><i class="fa fa-globe"></i> Visit website</a>
                                <a class="btn btn-primary" href="javascript:void(0);"><i class="fa fa-download"></i> Download case study</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="reference-item" data-category="seo">
                    <div class="reference">
                        <a href="#">
                            <img src="img/portfolio-2.jpg" class="img-responsive" alt="" />

                            <div class="overlay">
                                <h3 class="reference-title">Project name</h3>
                                <p>Short project description goes here...</p>
                            </div>
                        </a>

                        <div class="sr-only reference-description" data-images="img/main-slider1.jpg,img/main-slider2.jpg,img/main-slider3.jpg">

                            <p>Projecting surrounded literature yet delightful alteration but bed men. Open are from long why cold. If must snug by upon sang loud left. As me do preference entreaties compliment motionless ye literature. Day behaviour
                                explained law remainder. Produce can cousins account you pasture. Peculiar delicate an pleasant provided do perceive.</p>

                            <p>Sitting mistake towards his few country ask. You delighted two rapturous six depending objection happiness something the. Off nay impossible dispatched partiality unaffected. Norland adapted put ham cordial. Ladies
                                talked may shy basket narrow see. Him she distrusts questions sportsmen. Tolerably pretended neglected on my earnestly by. Sex scale sir style truth ought.</p>

                            <p class="buttons">
                                <a class="btn btn-primary" href="javascript:void(0);"><i class="fa fa-globe"></i> Visit website</a>
                                <a class="btn btn-primary" href="javascript:void(0);"><i class="fa fa-download"></i> Download case study</a>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="reference-item" data-category="marketing">
                    <div class="reference">
                        <a href="#">
                            <img src="img/portfolio-3.jpg" class="img-responsive" alt="" />

                            <div class="overlay">
                                <h3 class="reference-title">Project name</h3>
                                <p>Short project description goes here...</p>
                            </div>
                        </a>

                        <div class="sr-only reference-description" data-images="img/main-slider1.jpg,img/main-slider2.jpg,img/main-slider3.jpg">

                            <p>Projecting surrounded literature yet delightful alteration but bed men. Open are from long why cold. If must snug by upon sang loud left. As me do preference entreaties compliment motionless ye literature. Day behaviour
                                explained law remainder. Produce can cousins account you pasture. Peculiar delicate an pleasant provided do perceive.</p>

                            <p>Sitting mistake towards his few country ask. You delighted two rapturous six depending objection happiness something the. Off nay impossible dispatched partiality unaffected. Norland adapted put ham cordial. Ladies
                                talked may shy basket narrow see. Him she distrusts questions sportsmen. Tolerably pretended neglected on my earnestly by. Sex scale sir style truth ought.</p>

                            <p class="buttons">
                                <a class="btn btn-primary" href="javascript:void(0);"><i class="fa fa-globe"></i> Visit website</a>
                                <a class="btn btn-primary" href="javascript:void(0);"><i class="fa fa-download"></i> Download case study</a>
                            </p>
                        </div>

                    </div>
                </div>

                <div class="reference-item" data-category="marketing">
                    <div class="reference">
                        <a href="#">
                            <img src="img/portfolio-4.jpg" class="img-responsive" alt="" />

                            <div class="overlay">
                                <h3 class="reference-title">Project name</h3>
                                <p>Short project description goes here...</p>
                            </div>
                        </a>

                        <div class="sr-only reference-description" data-images="img/main-slider1.jpg,img/main-slider2.jpg,img/main-slider3.jpg">

                            <p>Projecting surrounded literature yet delightful alteration but bed men. Open are from long why cold. If must snug by upon sang loud left. As me do preference entreaties compliment motionless ye literature. Day behaviour
                                explained law remainder. Produce can cousins account you pasture. Peculiar delicate an pleasant provided do perceive.</p>

                            <p>Sitting mistake towards his few country ask. You delighted two rapturous six depending objection happiness something the. Off nay impossible dispatched partiality unaffected. Norland adapted put ham cordial. Ladies
                                talked may shy basket narrow see. Him she distrusts questions sportsmen. Tolerably pretended neglected on my earnestly by. Sex scale sir style truth ought.</p>

                            <p class="buttons">
                                <a class="btn btn-primary" href="javascript:void(0);"><i class="fa fa-globe"></i> Visit website</a>
                                <a class="btn btn-primary" href="javascript:void(0);"><i class="fa fa-download"></i> Download case study</a>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="reference-item" data-category="webdesign">
                    <div class="reference">
                        <a href="#">
                            <img src="img/portfolio-5.jpg" class="img-responsive" alt="" />

                            <div class="overlay">
                                <h3 class="reference-title">Project name</h3>
                                <p>Short project description goes here...</p>
                            </div>
                        </a>

                        <div class="sr-only reference-description" data-images="img/main-slider1.jpg,img/main-slider2.jpg,img/main-slider3.jpg">

                            <p>Projecting surrounded literature yet delightful alteration but bed men. Open are from long why cold. If must snug by upon sang loud left. As me do preference entreaties compliment motionless ye literature. Day behaviour
                                explained law remainder. Produce can cousins account you pasture. Peculiar delicate an pleasant provided do perceive.</p>

                            <p>Sitting mistake towards his few country ask. You delighted two rapturous six depending objection happiness something the. Off nay impossible dispatched partiality unaffected. Norland adapted put ham cordial. Ladies
                                talked may shy basket narrow see. Him she distrusts questions sportsmen. Tolerably pretended neglected on my earnestly by. Sex scale sir style truth ought.</p>

                            <p class="buttons">
                                <a class="btn btn-primary" href="javascript:void(0);"><i class="fa fa-globe"></i> Visit website</a>
                                <a class="btn btn-primary" href="javascript:void(0);"><i class="fa fa-download"></i> Download case study</a>
                            </p>

                        </div>
                    </div>
                </div>

                <div class="reference-item" data-category="other">
                    <div class="reference">
                        <a href="#">
                            <img src="img/portfolio-6.jpg" class="img-responsive" alt="" />

                            <div class="overlay">
                                <h3 class="reference-title">Project name</h3>
                                <p>Short project description goes here...</p>
                            </div>
                        </a>

                        <div class="sr-only reference-description" data-images="img/main-slider1.jpg,img/main-slider2.jpg,img/main-slider3.jpg">

                            <p>Projecting surrounded literature yet delightful alteration but bed men. Open are from long why cold. If must snug by upon sang loud left. As me do preference entreaties compliment motionless ye literature. Day behaviour
                                explained law remainder. Produce can cousins account you pasture. Peculiar delicate an pleasant provided do perceive.</p>

                            <p>Sitting mistake towards his few country ask. You delighted two rapturous six depending objection happiness something the. Off nay impossible dispatched partiality unaffected. Norland adapted put ham cordial. Ladies
                                talked may shy basket narrow see. Him she distrusts questions sportsmen. Tolerably pretended neglected on my earnestly by. Sex scale sir style truth ought.</p>

                            <p class="buttons">
                                <a class="btn btn-primary" href="javascript:void(0);"><i class="fa fa-globe"></i> Visit website</a>
                                <a class="btn btn-primary" href="javascript:void(0);"><i class="fa fa-download"></i> Download case study</a>
                            </p>

                        </div>
                    </div>
                </div>

                <div class="reference-item" data-category="seo">
                    <div class="reference">
                        <a href="#">
                            <img src="img/portfolio-7.jpg" class="img-responsive" alt="" />

                            <div class="overlay">
                                <h3 class="reference-title">Project name</h3>
                                <p>Short project description goes here...</p>
                            </div>
                        </a>

                        <div class="sr-only reference-description" data-images="img/main-slider1.jpg,img/main-slider2.jpg,img/main-slider3.jpg">

                            <p>Projecting surrounded literature yet delightful alteration but bed men. Open are from long why cold. If must snug by upon sang loud left. As me do preference entreaties compliment motionless ye literature. Day behaviour
                                explained law remainder. Produce can cousins account you pasture. Peculiar delicate an pleasant provided do perceive.</p>

                            <p>Sitting mistake towards his few country ask. You delighted two rapturous six depending objection happiness something the. Off nay impossible dispatched partiality unaffected. Norland adapted put ham cordial. Ladies
                                talked may shy basket narrow see. Him she distrusts questions sportsmen. Tolerably pretended neglected on my earnestly by. Sex scale sir style truth ought.</p>

                            <p class="buttons">
                                <a class="btn btn-primary" href="javascript:void(0);"><i class="fa fa-globe"></i> Visit website</a>
                                <a class="btn btn-primary" href="javascript:void(0);"><i class="fa fa-download"></i> Download case study</a>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="reference-item" data-category="webdesign">
                    <div class="reference">
                        <a href="#">
                            <img src="img/portfolio-8.jpg" class="img-responsive" alt="" />

                            <div class="overlay">
                                <h3 class="reference-title">Project name</h3>
                                <p>Short project description goes here...</p>
                            </div>
                        </a>

                        <div class="sr-only reference-description" data-images="img/main-slider1.jpg,img/main-slider2.jpg,img/main-slider3.jpg">

                            <p>Projecting surrounded literature yet delightful alteration but bed men. Open are from long why cold. If must snug by upon sang loud left. As me do preference entreaties compliment motionless ye literature. Day behaviour
                                explained law remainder. Produce can cousins account you pasture. Peculiar delicate an pleasant provided do perceive.</p>

                            <p>Sitting mistake towards his few country ask. You delighted two rapturous six depending objection happiness something the. Off nay impossible dispatched partiality unaffected. Norland adapted put ham cordial. Ladies
                                talked may shy basket narrow see. Him she distrusts questions sportsmen. Tolerably pretended neglected on my earnestly by. Sex scale sir style truth ought.</p>

                            <p class="buttons">
                                <a class="btn btn-primary" href="javascript:void(0);"><i class="fa fa-globe"></i> Visit website</a>
                                <a class="btn btn-primary" href="javascript:void(0);"><i class="fa fa-download"></i> Download case study</a>
                            </p>
                        </div>
                    </div>
                </div>

            </div>
            <!-- /#references-masonry -->

        </div>
        <!-- /.12 -->
    </div>
    <!-- /.container -->
</div>
