<div class="section text-gray" id="customers">
    <div class="container">
        <div class="col-md-12">


            <div class="row">
                <div class="col-sm-4 col-md-2  col-xs-6">
                    <div class="customer">
                        <img class="img-responsive" src="img/customers/kofola.png" title="Kofola" data-placement="bottom" data-toggle="tooltip" alt="">
                    </div>
                </div>

                <div class="col-sm-4 col-md-2  col-xs-6">
                    <div class="customer">
                        <img class="img-responsive" src="img/customers/evian.png" title="Evian" data-placement="bottom" data-toggle="tooltip" alt="">
                    </div>
                </div>

                <div class="col-sm-4 col-md-2  col-xs-6">
                    <div class="customer">
                        <img class="img-responsive" src="img/customers/cslink.png" title="CS Link" data-placement="bottom" data-toggle="tooltip" alt="">
                    </div>
                </div>

                <div class="col-sm-4 col-md-2  col-xs-6">
                    <div class="customer">
                        <img class="img-responsive" src="img/customers/botas66.png" title="Botas 66 Concept store" data-placement="bottom" data-toggle="tooltip" alt="">
                    </div>
                </div>

                <div class="col-sm-4 col-md-2  col-xs-6">
                    <div class="customer">
                        <img class="img-responsive" src="img/customers/mdfc.png" title="MediaFabríca" data-placement="bottom" data-toggle="tooltip" alt="">
                    </div>
                </div>

                <div class="col-sm-4 col-md-2  col-xs-6">
                    <div class="customer">
                        <img class="img-responsive" src="img/customers/vanek.png" title="VANĚK Strojírenská výroba" data-placement="bottom" data-toggle="tooltip" alt="">
                    </div>
                </div>

            </div>
            <!-- /.row -->


        </div>
        <!-- /.12 -->
    </div>
    <!-- /.container -->
</div>
