<div class="section text-parallax parallax-image1" id="services">
    <div class="container">
        <div class="row showcase">
            <div class="col-md-3 col-sm-6" data-animate="fadeInUp">
                <div class="item">
                    <div class="icon"><i class="fa fa-align-justify"></i>
                    </div>
                    <h4><span class="counter">120</span><br>

Websites</h4>
                </div>
            </div>
            <div class="col-md-3 col-sm-6" data-animate="fadeInUp">
                <div class="item">
                    <div class="icon"><i class="fa fa-users"></i>
                    </div>
                    <h4><span class="counter">50</span><br>

Satisfied Clients</h4>
                </div>
            </div>
            <div class="col-md-3 col-sm-6" data-animate="fadeInUp">
                <div class="item">
                    <div class="icon"><i class="fa fa-copy"></i>
                    </div>
                    <h4><span class="counter">320</span><br>

Projects</h4>
                </div>
            </div>
            <div class="col-md-3 col-sm-6" data-animate="fadeInUp">
                <div class="item">
                    <div class="icon"><i class="fa fa-font"></i>
                    </div>
                    <h4><span class="counter">333</span><br>

Magazines and Brochures</h4>
                </div>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->

    <div class="dark-mask"></div>

</div>
