<div id="intro" class="clearfix">
    <div class="item">
        <div class="container">
            <div class="row">
                <div class="carousel-caption">
                    <div data-animate="fadeInDown" class="logo">
                        <img src="img/logo-big.png" alt="logo" width="130">
                    </div>
                    <h1 data-animate="fadeInDown">Hello, hola, नमस्ते !</h1>
                    <h2 data-animate="slideInUp">I grind HTML and CSS and then weld them with PHP into beautiful and efficient websites.</h2>
                </div>
            </div>
        </div>
    </div>
</div>
