<!-- *** NAVBAR ***
_________________________________________________________ -->


<!-- /#navbar -->
<app-navbar></app-navbar>
<!-- *** NAVBAR END *** -->


<div id="all">


    <!-- *** INTRO IMAGE ***
_________________________________________________________ -->
  <app-intro></app-intro>
    <!-- *** INTRO IMAGE END *** -->

    <!-- *** ABOUT ***
_________________________________________________________ -->
    <app-about></app-about>
    <!-- /#about -->

    <!-- *** ABOUT END *** -->

    <!-- *** SERVICES ***
_________________________________________________________ -->
    <app-services></app-services>
    <!-- /.section -->

    <!-- *** SERVICES END *** -->

    <!-- *** TESTIMONIALS ***
_________________________________________________________ -->
<app-testimonials></app-testimonials>

    <!-- /.section -->

    <!-- *** TESTIMONIALS END *** -->

    <!-- *** SHOWCASE ***
_________________________________________________________ -->
    <app-showcase></app-showcase>
    <!-- /.section -->

    <!-- *** REFERENCES IMAGE ***
_________________________________________________________ -->
<app-references></app-references>
    <!-- /.section -->

    <!-- *** REFERENCES END *** -->

    <!-- *** CUSTOMERS ***
_________________________________________________________ -->
<app-customers></app-customers>

    <!-- /.section -->

    <!-- *** CUSTOMERS END *** -->

    <!-- *** CONTACT ***
_________________________________________________________ -->
<app-contact></app-contact>

    <!-- /.section -->

    <!-- *** CONTACT END *** -->

    <!-- *** MAP ***
_________________________________________________________ -->

    <div class="section" id="map">

    </div>
    <!-- /.section -->

    <!-- *** MAP END *** -->

    <!-- *** FOOTER ***
_________________________________________________________ -->

    <div class="section" id="footer">
        <div class="container">

            <div class="row">

                <div class="col-sm-6">

                    <p class="social">
                        <a href="#" class="external facebook" data-animate-hover="shake" data-animate="fadeInUp"><i class="fa fa-facebook"></i></a>
                        <a href="#" class="external instagram" data-animate-hover="shake" data-animate="fadeInUp"><i class="fa fa-instagram"></i></a>
                        <a href="#" class="external gplus" data-animate-hover="shake" data-animate="fadeInUp"><i class="fa fa-google-plus"></i></a>
                        <a href="#" class="email" data-animate-hover="shake" data-animate="fadeInUp"><i class="fa fa-envelope"></i></a>
                    </p>
                </div>
                <!-- /.6 -->

                <div class="col-sm-6">
                    <p>&copy; 2015 Your name goes here. All rights reserved.</p>
                </div>

                <div class="col-sm-12">
                    <p class="template-bootstrapious">Template by <a href="http://bootstrapious.com/free-templates">Bootstrapious</a></p>

                    <!-- Not removing these links is part of the license conditions of the template. Thanks for understanding :) -->

                </div>

            </div>

        </div>
        <!-- /.container -->
    </div>
    <!-- /.section -->

    <!-- *** FOOTER END *** -->
