<!-- *** NAVBAR ***
________________________________________________________ -->
<!-- /#navbar -->
<app-navbar></app-navbar>
<!-- *** NAVBAR END *** -->
<div id="all">
  <!-- *** INTRO IMAGE ***
_________________________________________________________ -->
  <app-intro></app-intro>
  <!-- *** INTRO IMAGE END *** -->
  <!-- *** ABOUT ***
_________________________________________________________ -->
  <app-about></app-about>
  <!-- /#about -->
  <!-- *** ABOUT END *** -->
  <!-- *** SERVICES ***
_________________________________________________________ -->
  <app-services></app-services>
  <!-- /.section -->
  <!-- *** SERVICES END *** -->
  <!-- *** TESTIMONIALS ***
_________________________________________________________ -->
  <!-- <app-testimonials></app-testimonials> -->
  <!-- /.section -->
  <!-- *** TESTIMONIALS END *** -->
  <!-- *** SHOWCASE ***
_________________________________________________________ -->
  <!-- <app-showcase></app-showcase> -->
  <!-- /.section -->
  <!-- *** REFERENCES IMAGE ***
_________________________________________________________ -->
  <!-- <app-references></app-references> -->
  <!-- /.section -->
  <!-- *** REFERENCES END *** -->
  <!-- *** CUSTOMERS ***
_________________________________________________________ -->
  <!-- <app-customers></app-customers> -->
  <!-- /.section -->
  <!-- *** CUSTOMERS END *** -->
  <!-- *** CONTACT ***
_________________________________________________________ -->
  <app-contact></app-contact>
  <!-- /.section -->
  <!-- *** CONTACT END *** -->
  <!-- *** MAP ***
_________________________________________________________ -->
  <!-- <app-map></app-map> -->
  <!-- /.section -->
  <!-- *** MAP END *** -->
  <!-- *** FOOTER ***
_________________________________________________________ -->
  <app-footer></app-footer>
  <!-- /.section -->
  <!-- *** FOOTER END *** -->
</div>
