<!-- *** NAVBAR ***
_________________________________________________________ -->


<!-- /#navbar -->
<app-navbar></app-navbar>
<!-- *** NAVBAR END *** -->


<div id="all">


    <!-- *** INTRO IMAGE ***
_________________________________________________________ -->
  <app-intro></app-intro>
    <!-- *** INTRO IMAGE END *** -->

    <!-- *** ABOUT ***
_________________________________________________________ -->
    <app-about></app-about>
    <!-- /#about -->

    <!-- *** ABOUT END *** -->

    <!-- *** SERVICES ***
_________________________________________________________ -->
    <app-services></app-services>
    <!-- /.section -->

    <!-- *** SERVICES END *** -->

    <!-- *** TESTIMONIALS ***
_________________________________________________________ -->
<app-testimonials></app-testimonials>

    <!-- /.section -->

    <!-- *** TESTIMONIALS END *** -->

    <!-- *** SHOWCASE ***
_________________________________________________________ -->
    <app-showcase></app-showcase>
    <!-- /.section -->

    <!-- *** REFERENCES IMAGE ***
_________________________________________________________ -->
    <div class="section" id="references">
        <div class="container">
            <div class="col-sm-12">

                <div class="mb20">
                    <h2 class="title" data-animate="fadeInUp">My work</h2>

                    <p class="lead" data-animate="fadeInUp">I have worked on dozens of projects so I have picked only the latest for you.</p>
                </div>

                <ul id="filter" data-animate="fadeInUp">
                    <li class="active"><a href="#" data-filter="all">All</a>
                    </li>
                    <li><a href="#" data-filter="webdesign">Webdesign</a>
                    </li>
                    <li><a href="#" data-filter="seo">SEO</a>
                    </li>
                    <li><a href="#" data-filter="marketing">Marketing</a>
                    </li>
                    <li><a href="#" data-filter="other">Other</a>
                    </li>
                </ul>

                <div id="detail">

                    <span class="close">&times;</span>

                    <div id="detail-slider"></div>

                    <div class="text-center">
                        <h1 id="detail-title">&nbsp;</h1>
                    </div>

                    <div id="detail-content"></div>

                </div>
                <!-- Reference detail -->

                <div id="references-masonry" data-animate="fadeInUp">

                    <div class="reference-item" data-category="webdesign">
                        <div class="reference">
                            <a href="#">
                                <img src="img/portfolio-1.jpg" class="img-responsive" alt="" />

                                <div class="overlay">
                                    <h3 class="reference-title">Project name</h3>
                                    <p>Short project description goes here...</p>
                                </div>
                            </a>

                            <div class="sr-only reference-description" data-images="img/main-slider1.jpg,img/main-slider2.jpg,img/main-slider3.jpg">

                                <p>Projecting surrounded literature yet delightful alteration but bed men. Open are from long why cold. If must snug by upon sang loud left. As me do preference entreaties compliment motionless ye literature. Day behaviour
                                    explained law remainder. Produce can cousins account you pasture. Peculiar delicate an pleasant provided do perceive.</p>

                                <p>Sitting mistake towards his few country ask. You delighted two rapturous six depending objection happiness something the. Off nay impossible dispatched partiality unaffected. Norland adapted put ham cordial. Ladies
                                    talked may shy basket narrow see. Him she distrusts questions sportsmen. Tolerably pretended neglected on my earnestly by. Sex scale sir style truth ought.</p>

                                <p class="buttons">
                                    <a class="btn btn-primary" href="javascript:void(0);"><i class="fa fa-globe"></i> Visit website</a>
                                    <a class="btn btn-primary" href="javascript:void(0);"><i class="fa fa-download"></i> Download case study</a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="reference-item" data-category="seo">
                        <div class="reference">
                            <a href="#">
                                <img src="img/portfolio-2.jpg" class="img-responsive" alt="" />

                                <div class="overlay">
                                    <h3 class="reference-title">Project name</h3>
                                    <p>Short project description goes here...</p>
                                </div>
                            </a>

                            <div class="sr-only reference-description" data-images="img/main-slider1.jpg,img/main-slider2.jpg,img/main-slider3.jpg">

                                <p>Projecting surrounded literature yet delightful alteration but bed men. Open are from long why cold. If must snug by upon sang loud left. As me do preference entreaties compliment motionless ye literature. Day behaviour
                                    explained law remainder. Produce can cousins account you pasture. Peculiar delicate an pleasant provided do perceive.</p>

                                <p>Sitting mistake towards his few country ask. You delighted two rapturous six depending objection happiness something the. Off nay impossible dispatched partiality unaffected. Norland adapted put ham cordial. Ladies
                                    talked may shy basket narrow see. Him she distrusts questions sportsmen. Tolerably pretended neglected on my earnestly by. Sex scale sir style truth ought.</p>

                                <p class="buttons">
                                    <a class="btn btn-primary" href="javascript:void(0);"><i class="fa fa-globe"></i> Visit website</a>
                                    <a class="btn btn-primary" href="javascript:void(0);"><i class="fa fa-download"></i> Download case study</a>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="reference-item" data-category="marketing">
                        <div class="reference">
                            <a href="#">
                                <img src="img/portfolio-3.jpg" class="img-responsive" alt="" />

                                <div class="overlay">
                                    <h3 class="reference-title">Project name</h3>
                                    <p>Short project description goes here...</p>
                                </div>
                            </a>

                            <div class="sr-only reference-description" data-images="img/main-slider1.jpg,img/main-slider2.jpg,img/main-slider3.jpg">

                                <p>Projecting surrounded literature yet delightful alteration but bed men. Open are from long why cold. If must snug by upon sang loud left. As me do preference entreaties compliment motionless ye literature. Day behaviour
                                    explained law remainder. Produce can cousins account you pasture. Peculiar delicate an pleasant provided do perceive.</p>

                                <p>Sitting mistake towards his few country ask. You delighted two rapturous six depending objection happiness something the. Off nay impossible dispatched partiality unaffected. Norland adapted put ham cordial. Ladies
                                    talked may shy basket narrow see. Him she distrusts questions sportsmen. Tolerably pretended neglected on my earnestly by. Sex scale sir style truth ought.</p>

                                <p class="buttons">
                                    <a class="btn btn-primary" href="javascript:void(0);"><i class="fa fa-globe"></i> Visit website</a>
                                    <a class="btn btn-primary" href="javascript:void(0);"><i class="fa fa-download"></i> Download case study</a>
                                </p>
                            </div>

                        </div>
                    </div>

                    <div class="reference-item" data-category="marketing">
                        <div class="reference">
                            <a href="#">
                                <img src="img/portfolio-4.jpg" class="img-responsive" alt="" />

                                <div class="overlay">
                                    <h3 class="reference-title">Project name</h3>
                                    <p>Short project description goes here...</p>
                                </div>
                            </a>

                            <div class="sr-only reference-description" data-images="img/main-slider1.jpg,img/main-slider2.jpg,img/main-slider3.jpg">

                                <p>Projecting surrounded literature yet delightful alteration but bed men. Open are from long why cold. If must snug by upon sang loud left. As me do preference entreaties compliment motionless ye literature. Day behaviour
                                    explained law remainder. Produce can cousins account you pasture. Peculiar delicate an pleasant provided do perceive.</p>

                                <p>Sitting mistake towards his few country ask. You delighted two rapturous six depending objection happiness something the. Off nay impossible dispatched partiality unaffected. Norland adapted put ham cordial. Ladies
                                    talked may shy basket narrow see. Him she distrusts questions sportsmen. Tolerably pretended neglected on my earnestly by. Sex scale sir style truth ought.</p>

                                <p class="buttons">
                                    <a class="btn btn-primary" href="javascript:void(0);"><i class="fa fa-globe"></i> Visit website</a>
                                    <a class="btn btn-primary" href="javascript:void(0);"><i class="fa fa-download"></i> Download case study</a>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="reference-item" data-category="webdesign">
                        <div class="reference">
                            <a href="#">
                                <img src="img/portfolio-5.jpg" class="img-responsive" alt="" />

                                <div class="overlay">
                                    <h3 class="reference-title">Project name</h3>
                                    <p>Short project description goes here...</p>
                                </div>
                            </a>

                            <div class="sr-only reference-description" data-images="img/main-slider1.jpg,img/main-slider2.jpg,img/main-slider3.jpg">

                                <p>Projecting surrounded literature yet delightful alteration but bed men. Open are from long why cold. If must snug by upon sang loud left. As me do preference entreaties compliment motionless ye literature. Day behaviour
                                    explained law remainder. Produce can cousins account you pasture. Peculiar delicate an pleasant provided do perceive.</p>

                                <p>Sitting mistake towards his few country ask. You delighted two rapturous six depending objection happiness something the. Off nay impossible dispatched partiality unaffected. Norland adapted put ham cordial. Ladies
                                    talked may shy basket narrow see. Him she distrusts questions sportsmen. Tolerably pretended neglected on my earnestly by. Sex scale sir style truth ought.</p>

                                <p class="buttons">
                                    <a class="btn btn-primary" href="javascript:void(0);"><i class="fa fa-globe"></i> Visit website</a>
                                    <a class="btn btn-primary" href="javascript:void(0);"><i class="fa fa-download"></i> Download case study</a>
                                </p>

                            </div>
                        </div>
                    </div>

                    <div class="reference-item" data-category="other">
                        <div class="reference">
                            <a href="#">
                                <img src="img/portfolio-6.jpg" class="img-responsive" alt="" />

                                <div class="overlay">
                                    <h3 class="reference-title">Project name</h3>
                                    <p>Short project description goes here...</p>
                                </div>
                            </a>

                            <div class="sr-only reference-description" data-images="img/main-slider1.jpg,img/main-slider2.jpg,img/main-slider3.jpg">

                                <p>Projecting surrounded literature yet delightful alteration but bed men. Open are from long why cold. If must snug by upon sang loud left. As me do preference entreaties compliment motionless ye literature. Day behaviour
                                    explained law remainder. Produce can cousins account you pasture. Peculiar delicate an pleasant provided do perceive.</p>

                                <p>Sitting mistake towards his few country ask. You delighted two rapturous six depending objection happiness something the. Off nay impossible dispatched partiality unaffected. Norland adapted put ham cordial. Ladies
                                    talked may shy basket narrow see. Him she distrusts questions sportsmen. Tolerably pretended neglected on my earnestly by. Sex scale sir style truth ought.</p>

                                <p class="buttons">
                                    <a class="btn btn-primary" href="javascript:void(0);"><i class="fa fa-globe"></i> Visit website</a>
                                    <a class="btn btn-primary" href="javascript:void(0);"><i class="fa fa-download"></i> Download case study</a>
                                </p>

                            </div>
                        </div>
                    </div>

                    <div class="reference-item" data-category="seo">
                        <div class="reference">
                            <a href="#">
                                <img src="img/portfolio-7.jpg" class="img-responsive" alt="" />

                                <div class="overlay">
                                    <h3 class="reference-title">Project name</h3>
                                    <p>Short project description goes here...</p>
                                </div>
                            </a>

                            <div class="sr-only reference-description" data-images="img/main-slider1.jpg,img/main-slider2.jpg,img/main-slider3.jpg">

                                <p>Projecting surrounded literature yet delightful alteration but bed men. Open are from long why cold. If must snug by upon sang loud left. As me do preference entreaties compliment motionless ye literature. Day behaviour
                                    explained law remainder. Produce can cousins account you pasture. Peculiar delicate an pleasant provided do perceive.</p>

                                <p>Sitting mistake towards his few country ask. You delighted two rapturous six depending objection happiness something the. Off nay impossible dispatched partiality unaffected. Norland adapted put ham cordial. Ladies
                                    talked may shy basket narrow see. Him she distrusts questions sportsmen. Tolerably pretended neglected on my earnestly by. Sex scale sir style truth ought.</p>

                                <p class="buttons">
                                    <a class="btn btn-primary" href="javascript:void(0);"><i class="fa fa-globe"></i> Visit website</a>
                                    <a class="btn btn-primary" href="javascript:void(0);"><i class="fa fa-download"></i> Download case study</a>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="reference-item" data-category="webdesign">
                        <div class="reference">
                            <a href="#">
                                <img src="img/portfolio-8.jpg" class="img-responsive" alt="" />

                                <div class="overlay">
                                    <h3 class="reference-title">Project name</h3>
                                    <p>Short project description goes here...</p>
                                </div>
                            </a>

                            <div class="sr-only reference-description" data-images="img/main-slider1.jpg,img/main-slider2.jpg,img/main-slider3.jpg">

                                <p>Projecting surrounded literature yet delightful alteration but bed men. Open are from long why cold. If must snug by upon sang loud left. As me do preference entreaties compliment motionless ye literature. Day behaviour
                                    explained law remainder. Produce can cousins account you pasture. Peculiar delicate an pleasant provided do perceive.</p>

                                <p>Sitting mistake towards his few country ask. You delighted two rapturous six depending objection happiness something the. Off nay impossible dispatched partiality unaffected. Norland adapted put ham cordial. Ladies
                                    talked may shy basket narrow see. Him she distrusts questions sportsmen. Tolerably pretended neglected on my earnestly by. Sex scale sir style truth ought.</p>

                                <p class="buttons">
                                    <a class="btn btn-primary" href="javascript:void(0);"><i class="fa fa-globe"></i> Visit website</a>
                                    <a class="btn btn-primary" href="javascript:void(0);"><i class="fa fa-download"></i> Download case study</a>
                                </p>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /#references-masonry -->

            </div>
            <!-- /.12 -->
        </div>
        <!-- /.container -->
    </div>
    <!-- /.section -->

    <!-- *** REFERENCES END *** -->

    <!-- *** CUSTOMERS ***
_________________________________________________________ -->

    <div class="section text-gray" id="customers">
        <div class="container">
            <div class="col-md-12">


                <div class="row">
                    <div class="col-sm-4 col-md-2  col-xs-6">
                        <div class="customer">
                            <img class="img-responsive" src="img/customers/kofola.png" title="Kofola" data-placement="bottom" data-toggle="tooltip" alt="">
                        </div>
                    </div>

                    <div class="col-sm-4 col-md-2  col-xs-6">
                        <div class="customer">
                            <img class="img-responsive" src="img/customers/evian.png" title="Evian" data-placement="bottom" data-toggle="tooltip" alt="">
                        </div>
                    </div>

                    <div class="col-sm-4 col-md-2  col-xs-6">
                        <div class="customer">
                            <img class="img-responsive" src="img/customers/cslink.png" title="CS Link" data-placement="bottom" data-toggle="tooltip" alt="">
                        </div>
                    </div>

                    <div class="col-sm-4 col-md-2  col-xs-6">
                        <div class="customer">
                            <img class="img-responsive" src="img/customers/botas66.png" title="Botas 66 Concept store" data-placement="bottom" data-toggle="tooltip" alt="">
                        </div>
                    </div>

                    <div class="col-sm-4 col-md-2  col-xs-6">
                        <div class="customer">
                            <img class="img-responsive" src="img/customers/mdfc.png" title="MediaFabríca" data-placement="bottom" data-toggle="tooltip" alt="">
                        </div>
                    </div>

                    <div class="col-sm-4 col-md-2  col-xs-6">
                        <div class="customer">
                            <img class="img-responsive" src="img/customers/vanek.png" title="VANĚK Strojírenská výroba" data-placement="bottom" data-toggle="tooltip" alt="">
                        </div>
                    </div>

                </div>
                <!-- /.row -->


            </div>
            <!-- /.12 -->
        </div>
        <!-- /.container -->
    </div>
    <!-- /.section -->

    <!-- *** CUSTOMERS END *** -->

    <!-- *** CONTACT ***
_________________________________________________________ -->

    <div class="section contact" id="contact" data-animate="bounceIn">
        <div class="container">
            <div class="col-md-12">


                <h2 class="title">Contact me</h2>

                <div class="row">

                    <div class="col-md-8 col-md-offset-2">
                        <form id="contact-form" method="post" action="contact.php">

                            <div class="messages">

                            </div>

                            <div class="controls">

                                <div class="row">
                                    <div class="col-md-6">
                                        <input type="text" name="name" class="form-control" placeholder="Your firstname *" required="required">
                                    </div>
                                    <div class="col-md-6">
                                        <input type="text" name="surname" class="form-control" placeholder="Your lastname *" required="required">
                                    </div>
                                    <div class="col-md-6">
                                        <input type="text" name="email" class="form-control" placeholder="Your email *" required="required">
                                    </div>
                                    <div class="col-md-6">
                                        <input type="text" name="phone" class="form-control" placeholder="Your phone">
                                    </div>
                                    <div class="col-md-12">
                                        <textarea name="message" class="form-control" placeholder="Message for me *" rows="4" required="required"></textarea>
                                    </div>
                                    <div class="col-md-12 text-center">
                                        <input type="submit" class="btn btn-primary btn-lg" value="Send message">
                                    </div>
                                </div>
                            </div>

                        </form>
                    </div>

                </div>

            </div>
            <!-- /.12 -->
        </div>
        <!-- /.container -->
    </div>
    <!-- /.section -->

    <!-- *** CONTACT END *** -->

    <!-- *** MAP ***
_________________________________________________________ -->

    <div class="section" id="map">

    </div>
    <!-- /.section -->

    <!-- *** MAP END *** -->

    <!-- *** FOOTER ***
_________________________________________________________ -->

    <div class="section" id="footer">
        <div class="container">

            <div class="row">

                <div class="col-sm-6">

                    <p class="social">
                        <a href="#" class="external facebook" data-animate-hover="shake" data-animate="fadeInUp"><i class="fa fa-facebook"></i></a>
                        <a href="#" class="external instagram" data-animate-hover="shake" data-animate="fadeInUp"><i class="fa fa-instagram"></i></a>
                        <a href="#" class="external gplus" data-animate-hover="shake" data-animate="fadeInUp"><i class="fa fa-google-plus"></i></a>
                        <a href="#" class="email" data-animate-hover="shake" data-animate="fadeInUp"><i class="fa fa-envelope"></i></a>
                    </p>
                </div>
                <!-- /.6 -->

                <div class="col-sm-6">
                    <p>&copy; 2015 Your name goes here. All rights reserved.</p>
                </div>

                <div class="col-sm-12">
                    <p class="template-bootstrapious">Template by <a href="http://bootstrapious.com/free-templates">Bootstrapious</a></p>

                    <!-- Not removing these links is part of the license conditions of the template. Thanks for understanding :) -->

                </div>

            </div>

        </div>
        <!-- /.container -->
    </div>
    <!-- /.section -->

    <!-- *** FOOTER END *** -->
